<!--templates/home.html-->
{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
    <p>Hi, {{user.username}}!</p>
        <p>
            <a href="{% url 'list_item' %}" role="button">View All Items</a>
        </p>
    <p>
        <a href="{% url 'logout' %}">logout</a>
    </p>
    {% else %}
    <p>
        You are not prepared! <a href="{% url 'login' %}">Prepare yourself.</a>  | <a href="{% url 'signup' %}">Signup</a>
    </p>
    {% endif %}
{% endblock content%}